<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646799327350-222sg7a02bcurv972m29f885tl17sob2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646799327350-222sg7a02bcurv972m29f885tl17sob2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>646799327350-afe5b0gnrg0hlqj12gj06v099vh7hbqh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6-g9xPBvRRjbJsFEad3dlpzMgSAMMcpc</string>
	<key>GCM_SENDER_ID</key>
	<string>646799327350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softproject</string>
	<key>PROJECT_ID</key>
	<string>airline-4ad4f</string>
	<key>STORAGE_BUCKET</key>
	<string>airline-4ad4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646799327350:ios:53bcbd76997b16796fdf57</string>
</dict>
</plist>